@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
}

/* completa tu codigo aqui */
nav li{
    display: block;
}
nav li a{
    display: table;
    opacity: 1;
    transition: all 0.3s;
    text-transform: uppercase;
    height: 100px;
    width: 100px;
    text-decoration: none;
    text-align: left;
}
nav li a:hover span{
    opacity: 1;
}
nav li a:hover{
    padding-left: 100px;
    
}
nav li:nth-child(1) a{
    background: #70c5f7;
    color: #70c5f7;
}
nav li:nth-child(2) a{
    background: palegreen;
    color: palegreen;
}
nav li:nth-child(3) a{
    background: orange;
    color: orange;
}
nav li:nth-child(4) a{
    background: lightpink;
    color: lightpink;
}
nav li:nth-child(1) a:hover{
    background: #333;
}
nav li:nth-child(2) a:hover{
    background: #333;
}
nav li:nth-child(3) a:hover{
    background: #333;
}
nav li:nth-child(4) a:hover{
    background: #333;
}


