@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
}

/* completa tu codigo aqui */
.tabla {
    background: #00ffff;
    width: 100px;
    height: 100px;
    
}
.verde  {
    background: #7fffd4;
}
.verde:hover {
    background: #333;
    display-block:
}
.naranja {
    background: #ff8c00;
}
.pink {
    background: pink;
}
.tabla ul {
	display: table;
    margin: 0;
    padding: 0;
}
.tabla ul a {
  text-decoration: none;
}
.tabla ul li {
	text-align: left;
    list-style: none;
    text-transform: uppercase;
    font-family: arial;
    float: left;
    position: relative;
}
.tabla ul li:hover {
    background: #0000;
    
}
.tabla ul li a {
display: table-cell;
vertical-align: middle;
  color: #;
  width: 100px;
  height: 100px;
}
